*,
*:before,
*:after {
    transition: all .1s ease-in;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: 400 20px/1.3 "Trebuchet MS", Trebuchet, Arial, sans-serif;
    background-color: rgb(58, 63, 70);
    border: 25px solid #fff;
}

html,
body {
    min-height: 100%;
}

.ba-container {
    max-width: 800px;
    margin: 0 auto;
}

.ba-footer,
.ba-header {
    background-color: rgb(73, 79, 87);
    color: rgb(253, 114, 119);
    text-align: center;
    padding: 15px 0;
    margin: 25px 0;
}

.ba-footer {
    font-size: 26px;
}

.ba-header {
    margin-top: 0;
}

small:before {
    content: " (";
}

small {
    font-size: 50%;
    color: rgb(203, 199, 213);
    /**/
}

small:after {
    content: ")";
}

.ba-list {
    background-color: rgb(138, 128, 160);
    color: rgb(249, 249, 249);
    list-style: none;
    font-size: 26px;
}

.ba-list>li {
    border: 0px solid #fff;
}

.ba-list input {
    margin-right: 5px;
    width: 26px;
    height: 26px;
    vertical-align: middle;
}

.ba-list>li:nth-child(2n) {
    background-color: rgb(124, 114, 149);
}

.ba-list label:hover {
    cursor: pointer;
    background-color: rgb(100, 92, 121);
    border-width: 4px 0;
}

.ba-list li:active {
    background-color: rgb(253, 114, 119);
}

[type="checkbox"]:checked+span {
    text-decoration: line-through;
    color: #a3a0b5;
}

label {
    display: block;
    padding: 15px;
}